// element 样式补丁
.el-card {
  &.is-always-shadow {
    box-shadow: 0 0 8px 0 rgba(232,237,250,.6), 0 2px 4px 0 rgba(232,237,250,.5);
  }
  &.is-hover-shadow {
    &:hover {
      box-shadow: 0 0 8px 0 rgba(232,237,250,.6), 0 2px 4px 0 rgba(232,237,250,.5);
    }
  }
}
.el-menu--horizontal {
  border-bottom: none !important;
}
.el-tabs__item:focus.is-active.is-focus:not(:active) {
  box-shadow: none !important;
}

// 修改默认导航菜单样式
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200Px;
}
// .el-menu--popup .el-menu-item{
//   height: 50Px;
//   line-height: 50Px;
// }
.el-menu-item-group__title{
  color: #C0C4CC;
}
.el-submenu{
  >.el-submenu__title{
    color: #333333;
  }
  >.el-menu{
    .el-submenu__title{
      // font-size: 13px;
      color: #8d8d8d;
    }
  }
  .el-menu-item{
    // font-size: 13px;
    color: #8d8d8d;
  }
}
.el-submenu.is-active.is-opened{
  >.el-submenu__title{
    color: #108ee9;
  }
  .el-submenu.is-active.is-opened{
    color: #108ee9;
    .el-submenu__title{
      color: #108ee9;
    }
    .el-menu-item.is-active{
      color: #108ee9;
    }
  }
}
.el-submenu__title:hover,.el-menu-item:hover, .el-menu-item.is-active{
  color: #108ee9;
}
.el-pagination{
  margin: 50px 0;
}